
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    align-items: center;
    display: flex;
    justify-content: center;
}

.movies{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 32px;
    text-align: center;
    width: 100%;
}

.movie h3{
    margin: 0;
}

.movie img{
    border-radius: 8px;
}